@model Otomoto.Models.Car

@{
    ViewBag.Title = "Dodaj ogłoszenie";
}
<h2>Dodaj nowe ogłoszenie</h2>

<form asp-controller="Car" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Opis">Opis</label>
        <input asp-for="Opis" class="form-control" />
        <span asp-validation-for="Opis" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="marka">Marka:</label>
        <select class="form-control mt-2" name="marka" id="marka">
            <option value="">Wybierz Markę</option>
            @foreach (var brand in ViewBag.CarBrands)
            {
                <option value="@brand.Name">@brand.Name</option>
            }
        </select>
        <span asp-validation-for="Marka" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Model">Model</label>
        <input asp-for="Model" class="form-control" />
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="typ" class="form-label">Nadwozie</label>
        <select class="form-control" id="typ" name="typ">
            <option value="">-- Wybierz nadwozie --</option>
            <option value="Sedan">Sedan</option>
            <option value="Coupe">Coupe</option>
            <option value="Kombi">Kombi</option>
            <option value="Hatchback">Hatchback</option>
            <option value="Minivan">Minivan</option>
            <option value="Pickup">Pickup</option>
            <option value="SUV">SUV</option>
        </select>
        <span asp-validation-for="Typ" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Pojemnosc">Pojemność</label>
        <input asp-for="Pojemnosc" class="form-control" />
        <span asp-validation-for="Pojemnosc" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="skrzyniaBiegow" class="form-label">Skrzynia biegów</label>
        <select class="form-control" id="skrzyniaBiegow" name="skrzyniaBiegow">
            <option value="">-- Wybierz rodzaj skrzyni --</option>
            <option value="Manualna">Manualna</option>
            <option value="Automatyczna">Automatyczna</option>
            <option value="Polautomatyczna">Półautomatyczna</option>
        </select>
        <span asp-validation-for="SkrzyniaBiegow" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RokProdukcji">Rok Produkcji</label>
        <input asp-for="RokProdukcji" type="number" class="form-control" min="1900" max="2023" />
        <span asp-validation-for="RokProdukcji" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Cena">Cena</label>
        <input asp-for="Cena" type="number" class="form-control" min="0" />
        <span asp-validation-for="Cena" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Vin">VIN</label>
        <input asp-for="Vin" class="form-control" />
        <span asp-validation-for="Vin" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Przebieg">Przebieg</label>
        <input asp-for="Przebieg" class="form-control" />
        <span asp-validation-for="Przebieg" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="rodzajPaliwa" class="form-label">Rodzaj Paliwa</label>
        <select class="form-control" id="rodzajPaliwa" name="rodzajPaliwa">
            <option value="">-- Wybierz rodzaj paliwa --</option>
            <option value="Benzyna">Benzyna</option>
            <option value="Diesel">Diesel</option>
            <option value="Benzyna + LPG">Benzyna + LPG</option>
            <option value="Diesel + LPG">Diesel + LPG</option>
            <option value="Elektryczne">Elektryczne</option>
            <option value="Alkohol">Alkohol</option>
        </select>
        <span asp-validation-for="RodzajPaliwa" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CarPicture">Car Image</label>
        <input type="file" accept=".png,.jpg,.jpeg,.gif,.tif" class="form-control" name="carImage" />
        <span asp-validation-for="CarPicture" class="text-danger"></span>
    </div>
    <span asp-validation-for="CarPicture" class="text-danger"></span>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
