@{
    ViewData["Title"] = "O stronie";
}

<div class="container">
    <h2 class="mt-5">O stronie</h2>
    <p>Projekt Otomoto to aplikacja internetowa oparta na platformie ASP.NET 6. Jest to nowa wersja frameworka MVC dla platformy .NET, która wprowadza szereg ulepszeń i nowych funkcji.</p>

    <p>Projekt składa się z różnych komponentów, takich jak kontrolery, widoki i modele. Kontrolery obsługują żądania HTTP, przetwarzają logikę biznesową i przekierowują do odpowiednich widoków. Widoki są odpowiedzialne za prezentację danych użytkownikowi w formie HTML. Modele reprezentują dane i logikę biznesową aplikacji.</p>

    <p>Aplikacja korzysta z bazy danych, w której przechowywane są informacje o samochodach. Użytkownicy mogą przeglądać dostępne samochody, dodawać nowe ogłoszenia oraz zarządzać swoimi ogłoszeniami.</p>

    <p>Projekt został zaimplementowany zgodnie z najlepszymi praktykami w zakresie architektury MVC, uwzględniając separację warstw, obsługę żądań, walidację danych, uwierzytelnianie i autoryzację użytkowników, oraz zarządzanie bazą danych.</p>

    <p>W razie jakichkolwiek pytań lub uwag, prosimy o kontakt. Dziękujemy za zainteresowanie naszym projektem!</p>

    <p>Projekt nie jest wykorzystywany komercyjnie i jest wykonywany w ramach zaliczenia przedmiotu !</p>
</div>

