@{
    ViewData["Title"] = "Polityka prywatności";
}
<h1>@ViewData["Title"]</h1>


<div class="container mt-4">
<p>Ostatnia aktualizacja: 24 maja 2023 r.</p>

<p>Twoja prywatność jest dla nas ważna. To jest polityka prywatności Twojego projektu, która wyjaśnia nasze praktyki dotyczące danych osobowych, które zbieramy od użytkowników.</p>

<h2>Zbieranie i Użytkowanie Informacji</h2>
<p>Podczas korzystania z naszego projektu, możemy poprosić Cię o podanie nam pewnych danych osobowych, które mogą być użyte do kontaktu lub identyfikacji Ciebie. Dane osobowe mogą obejmować, ale nie są ograniczone do: adres email, imię i nazwisko, numer telefonu.</p>

<h2>Cookies</h2>
<p>Używamy "cookies" w celu zbierania informacji. Możesz skonfigurować swoją przeglądarkę tak, aby odrzucała wszystkie cookies lub wskazywała, kiedy cookie jest wysyłane. Jeśli jednak nie zaakceptujesz cookies, możesz nie być w stanie korzystać z niektórych części naszego projektu.</p>

<h2>Bezpieczeństwo</h2>
<p>Bezpieczeństwo Twoich danych osobowych jest dla nas ważne. Pamiętaj jednak, że żadna metoda transmisji przez Internet, ani metoda elektronicznego przechowywania nie jest 100% bezpieczna. Chociaż dążymy do stosowania komercyjnie akceptowalnych środków w celu ochrony Twoich danych osobowych, nie możemy zagwarantować ich absolutnego bezpieczeństwa.</p>

<h2>Zmiany w Polityce Prywatności</h2>
<p>Możemy aktualizować naszą Politykę Prywatności od czasu do czasu. Zalecamy Ci regularne sprawdzanie tej strony w celu zapoznania się z ewentualnymi zmianami.</p>

<p>Jeśli masz pytania dotyczące naszej Polityki Prywatności, skontaktuj się z nami.</p>
</div>
